<hr />
<div class="feed-container">
  <div class="feed">
    {% for question in questions %}
    <div class="post">
      <a href="{{ question.user.userprofile.get_absolute_url }}"
        >{{ question.user.username }}</a
      >
      <h3 class="post-heading">
        <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
      </h3>
      <p>{{ question.content }}</p>
      <a href="{% url 'core:post_answer' question_id=question.id %}" class="btn"
        >Answer</a
      >
    </div>
    <hr />
    {% endfor %}
  </div>
</div>
