<div class="feed-container">
  <div class="feed grid-row">
    {% for question in questions %}
    <div class="post question-container grid-row">
        <div class="flex-group fs-small">

            <p>
                Posted by {% if user != question.user %}
                <a href="{{ question.user.userprofile.get_absolute_url }}" class=""
                ><strong class="clr-acc">{{ question.user.username }}</strong></a
                >{% else %} <strong class="clr-acc">You</strong> {% endif %}, {{question.created_at|timesince}}
            </p>
            
            <p><span class="fw-bold">Total Answers:</span> {{ question.answer_set.count }}</p>
        </div>
      <h3 class="primary-heading link-active">
        <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
      </h3>
      <p>{{ question.content }}</p>
      {% if user != question.user %}
      <div class="cont">

          <a href="{% url 'core:post_answer' question_id=question.id %}" class="btn"
          >Answer</a
          >
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
