<hr />
<div class="feed-container">
  <div class="feed">
    {% for question in questions %}
    <div class="post">
      <p>
        Posted by {% if user != question.user %}
        <a href="{{ question.user.userprofile.get_absolute_url }}"
          >{{ question.user.username }}</a
        >{% else %} <strong>You</strong> {% endif %}, {{question.created_at|timesince}}
      </p>

      <p>Answers: {{ question.answer_set.count }}</p>
      <h3 class="primary-heading">
        <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
      </h3>
      <p>{{ question.content }}</p>
      {% if user != question.user %}
      <a href="{% url 'core:post_answer' question_id=question.id %}" class="btn"
        >Answer</a
      >
      {% endif %}
    </div>
    <hr />
    {% endfor %}
  </div>
</div>
