<header>
  <h3 class="logo"><a href="{% url 'core:index' %}">Ask Me</a></h3>
  <nav>
    {% if user.is_authenticated %}
    <p>Hi, {{ user.username }}</p>
    {% endif %}
    <ul class="navlinks">
      <li><a href="{% url 'core:post_question' %}">New Question</a></li>
      {% if user.is_authenticated %}

      <li><a href="{% url 'core:logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'core:login' %}">Login</a></li>
      <li><a href="{% url 'core:signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
